.texture-404 {
    position: absolute;
}

.texture-404 .blue {
    color: var(--main-clr);
}

.texture-404 .green {
    color: var(--second-clr);
}

.top-404 {
    top: 100px;
    left: -10px;
} 

.bottom-404 {
    bottom: 100px;
    right: -10px;
}