<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>

    <%- include("partials/head") %>
    <link rel="stylesheet" href="/css/search.css">
</head>
<body>
    <%- include("partials/nav") %>

    <main>
        <div id="search-artists">
            <form id="find-artists">
                <input type="text" name="artist" id="artist" placeholder="Search">
                <button type="submit"></button>
            </form>
            <ul id="found-artists"></ul>
        </div>

        <div id="artists-searched"></div>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascript/socketIo.js"></script>
</body>
</html>