body {
    transform: rotate(4deg);
}

#nav-main-content {
    justify-content: flex-end;
}

#site-title, #menu {
    align-items: flex-end;
}

#menu > li > a {
    padding: 0;
}

#menu > li > span {
    margin: 0;
}

#site-title {
    transform: rotate(349deg);
    margin-right: -13px;
}

#home a {
    transform: rotate(345deg);
}

#home span {
    margin-bottom: 7px;
}

#about a {
    transform: rotate(12deg);
}

#search a {
    transform: rotate(351deg);
}


#icon {
    top: 11px;
    left: calc(100dvw - 355px);
}

main {
    display: flex;
    flex-direction: row-reverse;
    height: 100dvh;
    width: 100dvw;
    justify-content: center;
    align-items: center;
}

#text-content {
    display: block;
    height: 250px;
    width: 700px;
    line-height: 50px;
    color: var(--main-clr);
    transform: rotate(4deg);
}

#text-content h1 {
    font-size: 62px;
}

#error-404 {
    display: flex;
    width: inherit;
    justify-content: flex-end;
    font-size: 62px;
    font-weight: 600;
    align-items: center;
}

#error-404 div {
    display: flex;
    align-items: center;
    height: 100px;
}

#error {
    height: inherit;
    margin-top: 10px;
}

.\34 {
    font-size: 92px;
    font-weight: 600;
    color: var(--second-clr);
}

#disc {
    height: 80px;
    width: 80px;
    animation: spin 5s infinite linear;
}

@keyframes spin {
    0% { 
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg); 
    }
}

.messy-doodle {
    height: 700px;
    min-height: 700px;
    width: 700px;
    min-width: 700px;
    transform: rotate(8deg);
    z-index: -1;
}

.texture {
    position: absolute;
}

span.blue {
    color: var(--main-clr);
}

span.green {
    color: var(--second-clr);
}

.top {
    top: 100px;
    left: -10px;
} 

.bottom {
    bottom: 100px;
    right: -10px;
}

@media (max-width: 1400px) {
    #text-content {
        position: absolute;
        margin-left: 60%;
    }

    .messy-doodle {
        opacity: 80%;
    }
}


@media (max-width: 1024px) {
    #text-content {
        height: auto;
        width: 200px;
        position: absolute;
        margin: 0;
    }

    #error-404 {
        flex-wrap: wrap;
    }

    #error-404 > div:nth-child(1) {
        height: auto;
    }

    .messy-doodle {
        opacity: 30%;
    }
}

@media (max-width: 1024px) or (max-height: 920px) {
    #menu-icon {
        display: none;
    }

    #icon {
        display: block;
    }

    #menu {
        display: flex;
    }

    #nav-main-content {
        background-color: var(--background-mask-clr);
    }
}