body::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -200px;
    width: 500px;
    height: 300px;
    background: url("/assets/images/doodle.png") no-repeat;
    transform: rotate(149deg);
}

body::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 300px;
    background: url("/assets/images/doodle.png") no-repeat;
    transform: rotate(132deg) scale(1.5);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    margin: 40px;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title  {
    margin-right: -600px;
    margin-bottom: 20px;
}

#title > h1 {
    font-size: xxx-large;
    color: #1ED760;
}

#text-content {
    height: 500px;
    max-width: 1000px;
    text-align: left;
    z-index: 1;
}

p {
    font-size: 25px;
    font-weight: 600;
    color: #1ED760;
    text-align: justify;
}

p > span {
    color: #0C06C7;
}

#text-content #search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 51px;
    width: 150px;
    margin: 10px;
    border: 5px solid #0C06C7;
    border-radius: 20px;
    position: relative;
    left: 220px;
    top: 20px;
}

#text-content #search > a {
    height: 100%;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #1ED760;
    font-size: 20px;
    font-weight: bold;
}

#text-content #search a:hover  {
    transform: scale(1.1);
    color: #13bc4f;
}

#text-content #search a:focus {
    transform: scale(0.9);
    color: #1ED760;
}

.zombie-doodle {
    height: 600px;
    width: 500px;
    margin-right: -50px;
}