body::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -200px;
    width: 500px;
    height: 300px;
    z-index: -1;
    background: url("/assets/images/doodle.png") no-repeat;
    transform: rotate(149deg);
}

body::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 300px;
    z-index: -1;
    background: url("/assets/images/doodle.png") no-repeat;
    transform: rotate(132deg) scale(1.5);
}

main {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    height: calc(100dvh - 55px);
    padding: 40px;
    overflow: auto;
    scrollbar-gutter: stable;
}

main::before, main::after {
    content: "";
    margin: auto;
}

main::-webkit-scrollbar {
    width: 10px;
}

main::-webkit-scrollbar-thumb {
    background-color: var(--components-grey-clr);
}

#title  {
    width: 60%;
    text-align: right;
}

#title > h1 {
    font-size: 72px;
    color: var(--main-clr);
}

#temp  {
    display: flex;
    align-items: center;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#text-content {
    max-width: 1000px;
    text-align: left;
    display: flex;
}

p {
    font-size: 25px;
    font-weight: 600;
    color: var(--second-clr);
    text-align: justify;
    background-color: var(--background-mask-clr);
}

p > span {
    color: var(--main-clr);
}

#text-content #search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 51px;
    width: 150px;
    margin: 10px;
    border: 5px solid var(--main-clr);
    border-radius: 20px;
    position: relative;
    left: 220px;
    top: 20px;
}

#text-content #search > a {
    height: 100%;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: var(--second-clr);
    font-size: 20px;
    font-weight: bold;
}

#text-content #search a:hover  {
    transform: scale(1.1);
    color: var(--button-hover-clr);
}

#text-content #search a:focus {
    transform: scale(0.9);
    color: var(--second-clr);
}

.zombie-doodle {
    height: 400px;
    width: 500px;
    margin-right: -50px;
}

@media (max-width: 1024px) {
    main {
        flex-direction: column;
    }

    #main-content {
        background-color: var(--background-mask-clr);
    }

    #title > h1 {
        font-size: calc(1.5rem + 4dvw);
    }

    p {
        font-size: calc(0.5rem + 1.5dvw);
    }

    .zombie-doodle {
        display: none;
    }
}