body::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100px;
    width: 500px;
    height: 300px;
    z-index: -1;
    background: url("/assets/images/lines.png") no-repeat;
    transform: rotate(30deg) scale(1.5);
}

body::after {
    content: "";
    position: absolute;
    bottom: 200px;
    right: -300px;
    width: 500px;
    height: 300px;
    background: url("/assets/images/lines.png") no-repeat;
    transform: rotate(30deg);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    margin: 40px;
}

#main-content {
    display: flex;
    align-items: center;
}

#title  {
    margin-bottom: -20px;
    z-index: 1;
}

#title > h1 {
    font-size: 72px;
    color: var(--main-clr);
}

#text-content {
    height: 300px;
    z-index: 1;
}

p {
    font-size: 25px;
    font-weight: 600;
    color: var(--second-clr);
}

p > span {
    color: var(--main-clr);
}

#text-content #search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 51px;
    width: 150px;
    margin: 10px;
    border: 5px solid var(--main-clr);
    border-radius: 20px;
    position: relative;
    left: 220px;
    top: 20px;
}

#text-content #search > a {
    height: 100%;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: var(--second-clr);
    font-size: 20px;
    font-weight: bold;
}

#text-content #search a:hover  {
    transform: scale(1.1);
    color: var(--button-hover-clr);
}

#text-content #search a:focus {
    transform: scale(0.9);
    color: var(--second-clr);
}

.dancing-doodle {
    height: 600px;
    min-height: 600px;
    width: 500px;
    min-width: 500px;
    margin-left: -90px;
}