body::before {
    content: "";
    position: absolute;
    top: 70px;
    right: -400px;
    width: 500px;
    height: 300px;
    z-index: -1;
    background: url(/assets/images/plus.png) no-repeat;
    transform: rotate(38deg);
}

body::after {
    content: "";
    position: absolute;
    bottom: -100px;
    left: 120px;
    width: 500px;
    height: 300px;
    z-index: -1;
    background: url(/assets/images/plus.png) no-repeat;
    transform: rotate(30deg) scale(1.2);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100dvh - 55px);
    overflow: hidden auto;
    scrollbar-gutter: stable;
    margin: 10px;
}

@keyframes justifyContentAnimation {
    from {
        transform: translateY(30%);
    }
    to {
        transform: translateY(0);
    }
}

#search-artists {
    width: 100vw;
    gap: 5px;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-title {
    text-align: center;
    line-height: 50px;
    margin-top: 20px;
}

#search-title h1 {
    font-size: 82px;
    color: var(--main-clr);
    text-transform: capitalize;
}

#search-title span {
    color: var(--second-clr);
    font-weight: 600;
}

#search-title span strong {
    font-weight: 900;
}

#artists-searched {
    overflow: auto;
    scrollbar-gutter: stable;
    margin-bottom: 50px;
    min-height: 210px;
}

#artists-searched::-webkit-scrollbar,
main::-webkit-scrollbar {
    width: 10px;
}

#artists-searched::-webkit-scrollbar-thumb,
main::-webkit-scrollbar-thumb {
    background-color: var(--components-grey-clr);
}

@media (max-width: 790px) {
    #artists-searched::-webkit-scrollbar-thumb {
        background-color: var(--transparent-clr);
    }
}

#find-artists {
    display: flex;
    align-items: center;
    padding: 10px;
}

#find-artists input {
    border: 3px solid var(--main-clr);
    border-right: none;
    height: 55px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--transparent-clr);
    color: var(--second-clr);
    font-size: 20px;
    font-weight: 600;
}

#find-artists input::placeholder {
    color: var(--second-clr)99;
}

input:-webkit-autofill {
    -webkit-text-fill-color: var(--second-clr);
}

#find-artists button {
    position: relative;
    height: 30px;
    width: 40px;
    padding: 10px;
    box-sizing: content-box;
    border: 3px solid var(--main-clr);
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--transparent-clr);
    cursor: pointer;
}

#find-artists button svg {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 10px;
    left: 15px;
}

#find-artists button::before {
    content: "";
    display: block;
    width: 2px;
    height: 30px;
    background-color: var(--main-clr);
    margin-left: -10px;
}

#found-artists, 
.top-musics  {
    display: grid;
    justify-content: flex-start;
    align-content: center;
    width: 1040px;
    padding: 10px;
    grid-template: 50px / repeat(auto-fit, minmax(130px, 200px));
    gap: 5px;
}

.top-musics {
    grid-template-columns: repeat(5, minmax(130px, 200px));
}

#found-artists {
    justify-content: center;
}

#found-artists li, 
.top-musics  li {
    display: grid;
    grid-template: 50px / 1fr 3fr;
    gap: 4px;
    justify-items: start;
    align-items: center;
    position: relative;
    min-width: 100px;
    cursor: pointer;
}

#found-artists li a, 
.top-musics  li a,
.main-artist-info a {
    height: 18px;
    width: 18px;
    border-radius: 50px;
    position: absolute;
    top: 2px;
    right: 2px;
}

#found-artists li a:hover, 
.top-musics  li a:hover,
.main-artist-info a:hover,
#find-artists button:hover svg {
    transform: scale(1.05);
    color: var(--button-hover-clr);
}

#found-artists li a:active, 
.top-musics  li a:active,
.main-artist-info a:active,
#find-artists button:active svg {
    transform: scale(0.9);
    color: var(--second-clr);
}


#found-artists li:hover {
    background-color: var(--components-background-clr);
}

#found-artists li img, 
.top-musics  li img {
    height: 40px;
    width: 40px;
    place-self: center;
}

#found-artists li span, 
.top-musics li span {
    width: 90%; 
    color: var(--sub-text-clr);
    font-size: large;
    font-weight: bold;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

#error-submit,
#error-search {
    color: var(--sub-text-clr);
    font-size: large;
    font-weight: bold;
    text-wrap: nowrap;
    grid-column-start: 2;
    grid-column-end: 5;
    place-self: center;
}

.artist-infos {
    width: 95vw;
    height: 100px;
    padding: 10px 50px;
    box-sizing: border-box;
    display: flex;
    background-color: var(--background-mask-clr);
}

.artist-infos-content {
    display: inherit;
    justify-content: center;
    position: relative;
    width: 100%;
    box-shadow: inset 0px 0px 20px 20px var(--components-grey-clr);
}

.background-album-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--second-clr);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 60%;
}

.main-artist-info {
    display: grid;
    align-items: center;
    justify-items: start;
    grid-template: 60px / 1fr 3fr;
    gap: 4px;
    position: relative;
    width: 296px;
    min-width: 100px;
    padding: 10px;
    overflow: hidden;
}

.main-artist-info a {
    top: 15px;
    right: 10px;
}

.main-artist-info::after {
    content: "";
    position: absolute;
    right: 0;
    height: 40px;
    width: 2px;
    background-color: var(--components-grey-clr);
}

.main-artist-info img {
    height: 60px;
    width: 60px;
    min-width: 40px;
    place-self: center;
}

.text-info {
    width: 95%; 
    color: var(--sub-text-clr);
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 15px;
}

.text-info h3 {
    width: 90%; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-info span {
    font-size: 12px;
}

.small-hr,
.small-hr::before,
.small-hr::after {
    min-height: 1px;
}

.toggle-artists {
    display: none;
    position: absolute;
    bottom: 15px;
    right: 10px;
    cursor: pointer;
}

.up-arrow, 
.down-arrow {
    height: 18px;
    width: 18px;
}

@media (max-width: 1040px) {
    .toggle-artists {
        display: flex;
    }
    
    #found-artists {
        width: 300px;
        background: var(--background-mask-clr);
        grid-template: 1fr / auto;
        margin-bottom: 15px;
    }

    .artist-infos {
        height: auto;
    }

    .artist-infos-content {
        flex-direction: column;
        align-items: center;
    }

    .main-artist-info::after {
        height: 0;
    }

    .top-musics {
        display: none;
        width: auto;
        grid-template: repeat(5, 50px) / minmax(200px, 300px);
    }

    .hiddenTopMusics {
        display: flex;
    }
}

@media (max-width: 720px) {
    #search-title h1 {
        text-wrap: wrap;
        line-height: 1;
    }

    .top-musics {
        flex-direction: column;
    }

    .top-musics li {
        max-width: 300px;
    }
}

